*{margin: 0;padding:0;}

/*** Bootstrap Overwrite
--------------------------*/
.navbar-light .navbar-nav .nav-link{
    color: #ffff;
}
.navbar-light .navbar-toggler {
    background: #ffffff;
    border-color:#ffff;
}
/*Heade r section
-----------------------*/
.header-menu{
    margin-top: 10px;
    z-index: 999;
}
.header-menu .active{
    border-bottom: 2px solid #fb414e;
    color: #ffffff!important;
}
.header-menu ul li{margin: 0px 16px;}
.header-menu ul li a{
    font-size: 16px;
    font-weight: 600;
    transition: .4s all ease-in-out;
}
.header-menu ul li a:hover{
    color: #fb414e !important;;
}
.header-menu ul.active{
    color: #fb414e !important;;
}
header{
    width: 100%;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    transition: all 1s ease-in-out;
}
header.sticky{
    z-index: 99;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;background:#202B30;
  }
/*banner section
-----------------------*/
.section-wrapper{
    overflow: hidden;
    background:url(../images/banner.jpg);
    background-size: cover;
}
.section-wrapper .overlay{
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.616);
}
.banner-wrapper {
    padding-bottom: 120px;
}
.banner-content {
   
    width: 50%;
    margin: auto;
    color: #ffff;
    margin-top: 130px;
}
.banner-content h2{
text-align: center;
margin-bottom: 20px;
}
.banner-content p {
    margin: auto;
    text-align: center;
    width: 65%;
}
.banner-content .sub-title{
    margin: 30px 0px;
}
.banner-btn {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    width: 60%;
    text-align: center;
    margin: auto;
}
.btn{
    transition: all .4s ease-in-out;
    border-radius: 0;
    color: white;
    border: 0.5px solid #fb414e;
    padding: 5px 15px;
}
.banner-btn .btn1{
    border: none;
    background: #fb414e;
}
.banner-btn .btn1:hover{   
    background:#ffff;
    color: #fb414e;
}
.banner-btn .btn2:hover{
    color: #fb414e;
}
/*   About section bottom part
---------------------------------*/
.about{
    padding-top: 250px;
    position: relative;
}
.item-content {
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: -50px;
    width: 80%;
    margin: auto;
}
.service-box:nth-child(1){
    background: #fb414e;
}
.service-box{
    height: 280px;
    background: #202B30;
    padding:10px 30px;
    color: #ffff;
    margin-bottom: 20px;
}

.service-box i img {
    margin-top: 20px;
    width: 40px;
}
.service-box h4 {
    font-size: 16px;
    margin: 20px 0px;
}
.service-box span {
    display: inline-block;
    width: 70px;
    height: 2px;
    background: #ffff;
    margin-bottom: 10px;
}
.service-box p{
    font-size: 14px;
    color: rgb(230, 230, 230);

}
/*   About bottom section
-----------------------*/
.about-bottom {
    padding: 40px 73px;
    background: #202B30;
    color: #ffff;
}
.about-bottom h2{}
.about-bottom p {
    line-height: 2;
    display: inline-block;
    margin: 25px 0px;
    font-size: 12px;
}
.about-bottom .btn{
    border: 1px solid #ffff;
}
.about-bottom .btn:hover{
    background: #fb414e;
    color: #ffff;
    border: none;
}
.about-bottom .solid-color{
    background: #fb414e;
    width: 100%;
    height: 100%;
}
.service-content{
    background: #f8f8f8;
    margin: 40px 0px;
    padding: 60px 60px;
}
.service-content h5 {
    margin-bottom: 20px;
    font-size:18px;
}
.service-content h2{
    margin-bottom: 20px;
}
.service-content p{
    font-size: 15px;
}
/*   Portfolio tab section
==================================*/
.porfolio-tabs{
    justify-content: center;
    margin-bottom: 30px;
}
.porfolio-tabs{

}
.porfolio-tabs li a{
    display: inline-block;
    text-decoration: none;
    color: #535353;
    font-size: 16px;
    margin: 10px 10px;
    padding: 3px 10px;
}
.porfolio-tabs li .active{
    border-bottom: 1.5px solid black;
    color: black!important;
    font-weight: 600;
}
/*   Portfolio item
---------------------------*/
.portfolio-item{
    position: relative;
}
.item-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #202b30dc;
    width:100%;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
}
.item-overlay i{
    color: #f8f8f8;
    font-size: 30px;
}
.portfolio-item:hover .item-overlay{
    height: 100%;
    width: 100%;
    visibility: visible;
    opacity: 1;
}
.portfolio-item img{
    width: 100%;
}
/*   Client and video section
==================================*/
.client-content{
    padding: 5rem 0rem;
    width: 87%;
    margin: auto;
}
.client-content h2{}
.client-content p{
    margin: 30px 0px;
    display: inline-block;
    font-size: 14px;
}
.client-content .btn{
    color: #202B30;
    border-color: #202B30;
}
.client-content .btn:hover{
    background: #202B30;
    color: #ffff;
}
/*   Handcraft design section
==================================*/
.handcraft-content {
    padding: 5rem 0px;
    background: url(../images/bottom-image.jpg)90%;
    background-size: cover;
}
.handcraft-content .content-wrapper{
    width: 90%;
    margin: auto;
}
.icon-box{}
.handcraft-content .sub-title{
    font-size: 14px;
    margin: 25px 0px;
    display: inline-block;
}
.icon-box img{
    width: 40px;
}
.icon-box h5{
    color: #535353;
    margin: 20px 0px;
}
.icon-box p{
    font-size: 14px;
}
/*   contact section
==================================*/
.contact-wrapper{
    width: 92%;
    margin: auto;
    padding: 5rem 0px;
}
.contact-wrapper h2 {
    font-size: 42px;
    text-align: end;
    margin-bottom: 3rem;
}
.contact-wrapper p{
    display: inline-block;
    text-align: end;
    font-size: 14px;
}
.contact-wrapper form{
    padding-left: 1rem;
    margin-bottom: 2rem;
}
.contact-wrapper form input{
    margin-bottom: 2rem;
}
.contact-wrapper form select{
    margin-bottom: 2rem;
    color: #535353;
}
.contact-wrapper form textarea{
    padding: 5px;
    width: 100%;
    height: 150px;
    outline: none;
}
.contact-wrapper .btn{
    background: #fb414e;
    width: 100%;
}.contact-wrapper .btn:hover{
    background: #ffff;
    color: #fb414e;
    border-color: #202B30;
}
/*   footer section
==================================*/
footer{
    padding: 3rem 0px;
    background: #202B30;
}
.footer-wrapper{
    width: 90%;
    margin: auto;
}
.f-left h6{
    color: #ffff;
    margin-top: 3rem;
}
.f-left span{
    display: inline-block;
    color: #ffff;
    margin-bottom: 3rem;
}
.f-left a {
    display: inline-block;
    padding: 5px 10px;
    color: #ffff;
    background: #fb414e;
    border-radius: 50%;
    font-size: 17px;
    margin: 0px 10px;
    transition: .3s all ease-in-out;
}
.f-left a:hover{
    background: #ffff;
    color: #fb414e;
}
.f-right{
    text-align: end;
}
.f-right h6{
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: end;
    color: #ffff;margin-bottom: 1rem;
}
.footer-nav-toggle .active{
    border-bottom: 2px solid #fb414e;
    color: #ffffff!important;
}
.navbar-nav.footer-nav {
    margin-top: -20px;
}
.footer-nav a:hover{
    color: #fb414e!important;
}
.f-right input {
    padding: 5px;
    width: 108%;
    border-radius: 0px;
}
.f-right .btn {
    width: 100%;
    background:#fb414e;
}
.f-right span{
    display: inline-block;
    margin-top: 5rem;
    color: rgb(93, 93, 93);
}
